version: "3.8"

services:
  mysql:
    image: mysql:latest
    container_name: mysql-streaming
    environment:
      MYSQL_ROOT_PASSWORD: ninad2005#
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data: